<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="main-content">
    {{>navbar}}
    {{>header}}
    <div id="form-container">
    <img class="portrait" src="/img/smile.jpg">
    </div>
</div>


    {{>footer}}
</body>
</html>