<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 
    <div class="main-content">
    {{>navbar}}
    {{>header}}
    <div id="form-container">
    <p>{{helpText}}</p>
    <p>If you need help you can refer to the readme that explains how to use the app</p>
    </div>
    </div>

    {{>footer}}
</body>
</html>